.env
.env.*
!.env.example
!backend/.env.example
*.tfvars
!*.tfvars.example
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


infrastructure/terraform.tfvars
infrastructure/terraform.tfstate
.env
venv/

venv/
__pycache__/
*.py[cod]
backend/db.sqlite3
backend/staticfiles/
backend/media/

node_modules/
frontend/dist/

.DS_Store
