aws_region                 = "us-east-1"
project_name               = "portfolio"
environment                = "dev"
vpc_cidr                   = "10.0.0.0/16"
public_subnets             = ["10.0.1.0/24", "10.0.2.0/24"]
instance_type              = "t3.micro"
key_name                   = "portfolio-key"
allowed_ssh_cidr           = "154.208.43.242/32"
db_username                = "postgres"
db_password                = "replace-with-a-strong-password"
db_name                    = "portfolio"
db_instance_class          = "db.t3.micro"
db_allocated_storage       = 20
db_engine_version          = "16"
db_backup_retention_period = 0
db_deletion_protection     = false
common_tags = {
  Owner = "portfolio"
}
app_domain_name            = "example.com"
route53_zone_id            = "Z1234567890ABC"
